* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #3498db;
  --bg-light: #ffffff;
  --bg-dark: #1e1e1e;
  --text-light: #1e1e1e;
  --text-dark: #ffffff;
}


body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-light);
    color: var(--text-light);
    transition: background 0.3s, color 0.3s;
}